<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("form").addEventListener("submit", function(e) {
                event.preventDefault();

                const formData = new FormData(event.target);

                const formObject = {};
                formData.forEach((value, key) => {
                    formObject[key] = value;
                });

                const jsonData = JSON.stringify(formObject);

                fetch('/api/register', {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: jsonData
                })
                .then(async response => {
                    let json = await response.json();

                    if (response.ok) {
                        await sessionStorage.setItem("access_token", json["access_token"])
                        window.location = "/"
                    } else {
                        window.location.href = "/error?error=" + json["error"].replace(" ", "%20")
                    }
                })
                .catch((error) => {
                    console.log("Error:", error)
                })

                // var username = document.getElementById("username").value
                // var password = document.getElementById("password").value
                // localStorage.setItem("username", username);
                // localStorage.setItem("password", password);
                // localStorage.setItem("token", username + password)

                // loginForm.submit();
            })
        })
    </script>
</head>
<body>
    Please register
    <form id="form">
        <input type="text" name="username" placeholder="username" id="username">
        <input type="password" name="password" placeholder="password" id="password">
        <input type="submit" value="Register">
    </form>
</body>
</html>